@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #e1e0d8; /* background color */
    color: #03495f;               /* color of basic color */
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 30px; 
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    text-align: center;
    font-family: 'Alkatra';
}
header {
    background-color: rgba(19, 57, 95, 0.7);
}
#background {
    height: 725px;
    background-color: #dfbcb1; 
    margin-bottom: 100px;
}
.msg {
    background-color: rgba(19, 57, 95, 0.7);
    line-height: 1.5em; 
    padding: 35px;
    margin-top: 200px;
}
footer {
    background-color: rgba(19, 57, 95, 0.7);
    color: #e1e0d8; 
    padding: 25px 50px;
    margin-top: 200px;
}
nav a, 
#hero-msg h1, 
#hero-msg h4, 
.button-box, 
main section {
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #e1e0d8;
    padding: 35px;
}
nav a:hover {
    background-color: #03495f;
    color: #8DB8E1;
}
.book, .join {
    background-color: #dfbcb1;
    color: #03495f;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px; 
    display: inline-block; 
}
.book:hover, .join:hover {
    background-color: #8DB8E1;
    color: #03495f;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.msg h2 {
    color: #e1e0d8 ;
    font-family: 'Alkatra'; 
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
    color: #e1e0d8 ;
}
footer p {
    font-size: 1.2em;
}
footer a {
    color: #e1e0d8;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.social img {
    width: 40px;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    font-family: 'Alkatra';
    margin-top: 10px;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #dfbcb1;
}
main section img {
    box-sizing: border-box; 
}
