@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #e1e0d8; /* background color */
    color: #03495f;               /* color of basic color */
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 30px; 
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
}
header {
    background-color: rgba(19, 57, 95, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, auto)
}
#background {
    background-color: #dfbcb1;
    grid-column: 1 / 11;
    grid-row: 4 / 9;
    z-index: -1; 
    height: 725px;  
}
.msg {
    background-color: #466276;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #466276;
}
footer {
    background-color: #466276;
    color: #e1e0d8; 
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a, 
.button-box, 
main section {
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
    color: #e1e0d8;
}
#hero-msg h2 {
    text-align: center;
    color: #e1e0d8;
    font-size: 20px;
}
nav a {
    text-decoration: none;
    color: #e1e0d8;
    padding: 35px;
    font-size: .8em;
}
nav a:hover {
    background-color: #466276;
    color: #8DB8E1;
}
.book, .join {
    background-color: #dfbcb1;
    color: #466276;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px; 
    display: inline-block; 
}
.book:hover, .join:hover {
    background-color: #8DB8E1;
    color: #466276;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.msg h2 {
    color: #e1e0d8 ;
    font-family: 'Alkatra'; 
    font-size: 1.2em;
}
.msg p {
    font-size: .6em;
    padding-bottom: 15px;
    color: #e1e0d8 ;
    line-height: 32px; 
}
footer p {
    font-size: 0.6em;
}
footer a {
    color: #e1e0d8;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.social img {
    width: 40px;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    font-family: 'Alkatra';
    margin-top: 10px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #dfbcb1;
    width: 100%;
    transition: transform .5s; 
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing: border-box; 
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {  
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;     
}
.card-img:hover {
    opacity: .6; 
    transform: scale(1.1); 
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none; /* 小さい画面では非表示 */
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}