body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}
th {
  background-color: #001f3f;
  color: white;
  padding: 12px;
  text-align: center;
}
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #e6f0ff;
  transition: 0.2s;
}
form {
  margin-top: 30px;
  text-align: left;
  background: #f7f7f7;
  padding: 25px;
  border-radius: 10px;
}
form div {
  margin-bottom: 15px;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input {
  width: 98%;
  display: block;
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
input:focus {
  outline: none;
  border-color: #001f3f;
}
button {
  background: #001f3f;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 25%;
}
button:hover {
  background: #003366;
}

